@model DiarioEscolar.Models.ChangePasswordModel

@{
    ViewBag.Title = "Trocar senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Formulário para troca de senha.</h2>
</hgroup>

<p class="message-info">
    A senha deve possuir pelo menos @Membership.MinRequiredPasswordLength caracteres.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Troca de Senha</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)                
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)                
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)                
            </li>
        </ol>
        <input type="submit" value="Trocar" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
