@model DiarioEscolar.Models.LoginModel

@{
    ViewBag.Title = "Controle de Acesso";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Entre com seu usuário e senha para acesso ao sistema.</h2>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.ValidationSummary(true, "Login inválido, verifique seus dados e tente novamente.")

    <fieldset>
        <legend>Controle de Acesso</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Entrar" />
    </fieldset>
    <p>
        @Html.ActionLink("Clique aqui se você não tem uma conta.", "Register")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
