@model IEnumerable<DiarioEscolar.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Cadastrar novo aluno", "Create", new { id = ViewBag.AnoSerieId })
</p>
<table class="table table-bordered" width="100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AlunoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.AlunoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlunoId })
        </td>
    </tr>
}

</table>

@using (Html.BeginForm()) {
    <p> 
        @Html.ActionLink("Voltar", "Index", "AnoSerie")
    </p>
}

