@model IEnumerable<DiarioEscolar.ViewModels.NotaFaltaAlunoViewModel>

@{
	ViewBag.Title = "Edit";
}

<style>

.text_grid
{
	width:30px;
}

</style>

<h2>@ViewBag.AnoSerie.Serie -  @ViewBag.Materia.Descricao</h2>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>NotaFalta</legend>
	   
		  <table class="table table-bordered" width="100%">
			<tr>
				<th>
					Aluno
				</th>
				<th nowrap>
					1 Bim
				</th>
				<th>
					Faltas
				</th>
				<th nowrap>
					2 Bim
				</th>
				<th>
					Faltas
				</th>
				<th nowrap>
					3 Bim
				</th>
				<th>
					Faltas
				</th>
				<th nowrap>
					4 Bim
				</th>
				<th>
					Faltas
				</th>
				<th>
					Recup.
				</th>
				<th nowrap>
					Total Faltas                
				</th>
				<th nowrap>
					Média Final
				</th>
			</tr>

		@{
	int contador = 0;
			
			}

		@foreach (var notaFalta in Model)
		{
			DiarioEscolar.ViewModels.NotaFaltaViewModel notaFaltaTemp = @notaFalta.NotaFaltaViewModel != null ? @notaFalta.NotaFaltaViewModel : ViewBag.notaFaltaDefault;
			<tr>
				<td>
                    @notaFalta.NomeAluno
					
					@Html.Hidden("notas[" + contador + "].AlunoId", notaFalta.AlunoId)
					@Html.Hidden("notas[" + contador + "].MateriaId", notaFalta.MateriaId)
                    @Html.Hidden("notas[" + contador + "].AnoSerieId", notaFalta.AnoSerieId)
					@Html.Hidden("notas[" + contador + "].NotaFaltaViewModel.NotaFaltaId", notaFalta.NotaFaltaViewModel != null ? notaFalta.NotaFaltaViewModel.NotaFaltaId : 0)
				</td>
				<td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Nota1", notaFaltaTemp.Nota1, new { @style = "width: 30px;" })
				</td>
				<td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Falta1", notaFaltaTemp.Falta1, new { @style = "width: 30px;" })
				</td>
				 <td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Nota2", notaFaltaTemp.Nota2, new { @style = "width: 30px;" })
				</td>
				<td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Falta2", notaFaltaTemp.Falta2, new { @style = "width: 30px;" })
				</td>
				 <td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Nota3", notaFaltaTemp.Nota3, new { @style = "width: 30px;" })
				</td>
				<td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Falta3", notaFaltaTemp.Falta3, new { @style = "width: 30px;" })
				</td>
				 <td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Nota4", notaFaltaTemp.Nota4, new { @style = "width: 30px;" })
				</td>
				<td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Falta4", notaFaltaTemp.Falta4, new { @style = "width: 30px;" })
				</td>
			   <td>
				   @Html.TextBox("notas[" + contador + "].NotaFaltaViewModel.Recuperacao", notaFaltaTemp.Recuperacao, new { @style = "width: 30px;" })
				</td>
				 <td>
				   @notaFaltaTemp.TotalFaltas
				</td>
				<td>
				   @notaFaltaTemp.MediaFinal
				</td>

			</tr>
			
			contador++;
		}

		</table>

		<p>
			<input type="submit" value="Salvar" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Voltar", "Index", "Home")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
