@model IEnumerable<DiarioEscolar.Models.NotaFalta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nota1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Falta1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Falta2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Falta3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Falta4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recuperacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Falta1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Falta2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Falta3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Falta4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recuperacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NotaFaltaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NotaFaltaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NotaFaltaId })
        </td>
    </tr>
}

</table>
