@model DiarioEscolar.Models.AnoSerie

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<fieldset>
    <legend>AnoSerie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
