@model DiarioEscolar.Models.AnoSerie

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>AnoSerie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Salvar", "Edit", new { id=Model.AnoSerieId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
